.btn{
    padding: 10px 20px;
    margin: 10px;
    background: none;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-family: Consolas, serif;
    /*font-weight: bold;*/
}